mat-card, mat-card-footer {
  margin: 20px;
}

.myclass1 {
  font-size: 10px;
  color: rgb(55, 196, 76);
  background-color: rgb(121, 83, 255);
  padding: 10px;
}

.myclass2 {
  font-size: 10px;
  color: rgb(210, 223, 40);
  background-color: rgb(22, 37, 87);
  padding: 10px;
}
.myclass3 {
  font-size: 10px;
  color: rgb(243, 153, 69);
  background-color: rgb(244, 67, 191);
  padding: 10px;
}
.myclass4 {
  font-size: 10px;
  color: rgb(55, 189, 196);
  background-color: rgb(255, 83, 103);
  padding: 10px;
}
